{% extends 'base_layout.html' %}

    {% block content%}

        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li class="error">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <select>
            
            {% for group in user.user_groups_joined.all %}
            {% if group.admin == user %}
            <option value="{{group.name}}">admin-{{group.name}}</option>
            {% elif user in group.tas.all %}
            <option value="{{group.name}}">TA-{{group.name}}</option>
            {% else %}
            <option value="{{group.name}}">{{group.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
        {% for group in user.user_groups_joined.all %}
        {% if group.admin == user %}
        <a href="/sos/group/{{ group.id }}" class="btn btn-primary">admin-{{group.name}} </a>
        {% else %}
        <a href="/sos/group/{{ group.id }}" class="btn btn-primary">{{group.name}}</a>
        {% endif %}
        {% endfor %}

        <form action="upload_pic" method="POST" enctype="multipart/form-data" style="margin: 30px;">
            {% csrf_token %}            
            <div class="form-group">
                <label for="image">Upload image file</label>
                <input type="file" class="form-control-file" id="id_image" name="image">
            </div>
            <div class="form-group">
                <label for="name">Item Name:</label>
                <input type="text" class="form-control" placeholder="Item Name" name="name">
            </div> 
            <input type="submit" value="Submit" class="btn btn-primary">  
        </form>
        <div id="item_container">
            {% if items%}
            {% for item in items %}
            <div>
                <img src="{{item.picture.url}}" alt="">
                <h3>{{item.name}}</h3>
                <p>This item has {{item.voters.count}} votes</p>
                {% if user in item.voters.all%}
                <p><a href="/sos/devote/{{item.id}}">Remove your vote.</a></p>
                {% else %}
                <p><a href="/sos/vote/{{item.id}}">Vote for this item.</a></p>
                {% endif %}
            </div>
            {% endfor%}
            {% endif%}
        </div>

    {% endblock %}
