{% extends 'base_layout.html' %}
        
    {% block content%}
        <!-- Side navigation -->
        <div class="sidenav">
                <a href="/sos/">Home</a>
                <a href="#">Groups</a>
                <a href="#">All Users</a>                
                <a href="#">Most Requested</a>
                <a href="#">Cart</a>
                <a href="#">All Items</a>
         <div class="space">
            <a href="/logout">Log out</a>
        </div>
        </div>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a class="navbar-brand" href="#">SOS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">All Groups</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">All Users</a>
                        </li>    
                    </ul>
                </div>  
            </nav>
            ADMIN PAGE!
    {% endblock %}

