{% extends 'base_layout.html' %}
        
    {% block content%}
        <!-- Side navigation -->
        <div class="sidenav">
                <a href="#">Home</a>
                <a href="#">Groups</a>
                <a href="#">All Users</a>                
                <a href="#">Most Requested</a>
                <a href="#">Cart</a>
                <a href="#">All Items</a>
         <div class="space">
            <a href="/logout">Log out</a>
        </div>
        </div>
            ADMIN PAGE!
            {% for snack in snacks %}
                <div class="snack">
                    <div class="image"><img src="{{snack.picture.url}}" alt=""></div> <br>
                    {{snack.item_name}}
                </div>
            {% endfor %}
    {% endblock %}

