{% extends 'base_layout.html' %}

    {% block content%}


        <div>
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a class="navbar-brand" href="#">SOS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">All Groups</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Most Requested</a>
                        </li>     -->
                    </ul>
                </div>  
            </nav>
                {% if messages %}
                    <ul class="flashes">
                    {% for message in messages %}
                        <li class="error">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <!-- Side navigation -->
            <div class="sidenav">
                    <a href="/sos/" >Home</a><br>
                    <!-- <a href="#">All Groups</a>
                    <a href="#">Most Requested</a> -->
             <div class="space">
                <br><br><a href="/logout">Log out</a>
            </div>
            </div>
            <div>
                <div class="page-header" style="margin-top: 25px;">
                    <h2>JOIN GROUP!</h2>
                </div>
                <form class="form-inline" action="/sos/join/" method="POST" class="ajax_form" id="join_group">
                    {% csrf_token %}
                    <label for="name">Group Name:</label>
                    <input type="text" class="form-control"  placeholder="Group Name:" name="name">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control"  placeholder="Enter password" name="password">
                    <!-- <button type="submit" class="btn btn-primary">JOIN</button> -->
                    <input type="submit" value="JOIN" class="btn btn-primary">
                    
                  </form>
                <!-- <form action="/sos/join/" method="POST" class="ajax_form" id="join_group">
                    {% csrf_token %}
                    Group Name: <input type="text" name="name" id="" placeholder="Group Name">
                    Password: <input type="text" name="password">
                    <input type="submit" value="JOIN" class="btn btn-primary">
                </form> -->
                <div id="placeholder">
                    Placeholder for other users in your group...
                </div>
            </div>
            <!-- <script>
                 $('#join_group').submit(function(e){
                     e.preventDefault()
                     console.log('Sending Ajax request to', $(this).attr('action'))
                     console.log('Submitting the following data', $(this).serialize())
                     $.ajax({
                         url: $(this).attr('action'), /* Where should this go? */
                         method: 'post', /* Which HTTP verb? */
                         data: $(this).serialize(), /* Any data to send along? */
                         success: function(serverResponse) { /* What code should we run when the server responds? */
                         $('#placeholder').html(serverResponse)
                         }
                    })
                });
            </script> -->
            <div id="create">
                <div class="page-header" style="margin-top: 15px;">
                    <h2>CREATE GROUP!</h2>
                </div>
                <form class="form-inline" action="/sos/create" method="post" class="ajax_form" id="create_group">
                    {% csrf_token %}
                    <label for="name">Name of Group:</label>
                    <input type="text" class="form-control"  placeholder="Name of Group:" name="name">
                    <label for="password">Password for Group:</label>
                    <input type="password" class="form-control"  placeholder="Enter password" name="password">
                    <input type="submit" value="CREATE" class="btn btn-primary">
                <!-- <form action="/sos/create" method="post" class="ajax_form" id="create_group">
                    {% csrf_token %}
                    Name of Group: <input type="text" name="name">
                    Password for Group: <input type="password" name="password">
                    <input type="submit" value="CREATE" class="btn btn-primary">
                </form> -->
                <div id="placeholder1">
                    Placeholder for your group...
                </div>
            </div>
            <!-- <script>
                    $('#create_group').submit(function(e){
                        e.preventDefault()
                        console.log('Sending Ajax request to', $(this).attr('action'))
                        console.log('Submitting the following data', $(this).serialize())
                        $.ajax({
                            url: $(this).attr('action'), /* Where should this go? */
                            method: 'post', /* Which HTTP verb? */
                            data: $(this).serialize(), /* Any data to send along? */
                            success: function(serverResponse) { /* What code should we run when the server responds? */
                            $('#placeholder1').html(serverResponse)
                            }
                       })
                   });
            </script> -->
        </div>
    {% endblock %}
